// Mobile smartphone portrait screens (very small)
@media screen and (min-width: 250px) and (max-width: 350px) and (min-height: 300px) and (max-height: 400px) {

    // Projects content
    .projects_container {
        margin: auto 15%;
        height: 77.5%;
        margin-bottom: 7.5%;
        gap: 1rem;
        //gap: 6.5%;
        margin-top: 3%;

        .projects_main_title {

            h2 {
                font-size: 1.35rem;
                letter-spacing: .2rem;
                
                &::after {
                    bottom: -21.5%;
                }
            }
        }

        .projects_content_container {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            flex-wrap: unset;

            // Single project content
            .single_project_container {
                width: 97.5%;
                position: relative;
                outline: .05rem solid var(--app-primary-color-transparent4);
                //box-shadow: 0px 0px 5px 2px var(--app-primary-color-transparent);
                box-shadow: 0px 0px 5px 2px var(--app-primary-color-transparent);

                .single_project_description_container {
                    padding: .25rem;

                    h4 {
                        font-size: .825rem;
                        letter-spacing: .025rem;
                    }

                    &>p {
                        line-height: .8rem;
                        letter-spacing: .02rem;
                        font-size: .7rem;
                    }

                    .single_project_anchors_container {
                        visibility: hidden;
                        opacity: 0;
                        transition: all .25s ease-in-out;

                        .single_project_website_anchor {
                            padding: .075rem .4rem;

                            p {
                                font-size: .625rem;
                            }

                            p:nth-of-type(2) {
                                font-size: .7rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }

                        .single_project_code_anchor {
                            padding: .2rem;

                            i {
                                font-size: .675rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }
                    }

                    &:hover {
                        .single_project_anchors_container {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }


     // Tooltip content
     .tooltip_container {
        font-size: .65rem;
    }
}


// Mobile smartphone portrait screens (small)
//@media screen and (min-width: 250px) and (max-width: 300px) and (min-height: 300px) and (max-height: 950px),
@media screen and (min-width: 250px) and (max-width: 350px) and (min-height: 500px) and (max-height: 1000px) {

    // Projects content
    .projects_container {
        margin: auto 17.5%;
        height: 77.5%;
        margin-bottom: 7.5%;
        gap: 2rem;
        margin-top: 3%;

        .projects_main_title {

            h2 {
                font-size: 1.75rem;
                
                &::after {
                    bottom: -27.5%;
                }
            }
        }

        .projects_content_container {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            flex-wrap: unset;

            // Single project content
            .single_project_container {
                width: 95%;
                position: relative;

                .single_project_description_container {
                    padding: .5rem .8rem;

                    h4 {
                        font-size: .925rem;
                        letter-spacing: .025rem;
                    }

                    &>p {
                        line-height: 1rem;
                        letter-spacing: .02rem;
                        font-size: .8rem;
                    }

                    .single_project_anchors_container {
                        visibility: hidden;
                        opacity: 0;
                        transition: all .25s ease-in-out;

                        .single_project_website_anchor {
                            padding: .1rem .65rem;

                            p {
                                font-size: .725rem;
                            }

                            p:nth-of-type(2) {
                                font-size: .8rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }

                        .single_project_code_anchor {
                            padding: .275rem;

                            i {
                                font-size: .8rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }
                    }

                    &:hover {
                        .single_project_anchors_container {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }


    // Tooltip content
    .tooltip_container {
        font-size: .65rem;
    }
}


// Mobile smartphone portrait screens
// 500 height min, 350 width min
// @media screen and (min-width: 250px) and (max-width: 650px) and (min-height: 950px),
// screen and (min-width: 300px) and (max-width: 650px) and (min-height: 500px),
// screen and (min-width: 500px) and (max-width: 550px) and (min-height: 500px) and (max-height: 550px)
@media screen and (min-width: 350px) and (max-width: 500px) and (min-height: 500px) and (max-height: 1000px) {

    // Projects content
    .projects_container {
        margin: auto 17.5%;
        height: 77.5%;
        margin-bottom: 7.5%;
        gap: 2rem;
        margin-top: 3%;

        .projects_main_title {

            h2 {
                font-size: 2rem;

                &::after {
                    bottom: -35%;
                }
            }
        }

        .projects_content_container {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            flex-wrap: unset;

            // Single project content
            .single_project_container {
                width: 95%;
                position: relative;

                .single_project_description_container {
                    padding: .5rem .8rem;

                    h4 {
                        font-size: .925rem;
                        letter-spacing: .025rem;
                    }

                    &>p {
                        line-height: 1rem;
                        letter-spacing: .02rem;
                        font-size: .8rem;
                    }

                    .single_project_anchors_container {
                        visibility: hidden;
                        opacity: 0;
                        transition: all .25s ease-in-out;

                        .single_project_website_anchor {
                            padding: .1rem .65rem;

                            p {
                                font-size: .725rem;
                            }

                            p:nth-of-type(2) {
                                font-size: .8rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }

                        .single_project_code_anchor {
                            padding: .275rem;

                            i {
                                font-size: .8rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }
                    }

                    &:hover {
                        .single_project_anchors_container {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }


    // Tooltip content
    .tooltip_container {
        font-size: .7rem;
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    // Projects content
    .projects_container {
        margin: auto 17.5%;
        margin-bottom: 5%;
        margin-top: 2%;

        .projects_main_title {

            h2 {
                font-size: 2rem;
            }
        }

        .projects_content_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.65rem;


            // Single project content
            .single_project_container {
                width: 100%;
                flex: 0 0 45%;

                .single_project_description_container {
                    padding: .75rem 1.1rem;

                    h4 {
                        font-size: 1rem;
                        letter-spacing: .02rem;
                    }

                    &>p {
                        line-height: 1.0375rem;
                        letter-spacing: .015rem;
                        font-size: .8rem;
                    }

                    .single_project_anchors_container {

                        .single_project_website_anchor {
                            padding: .1rem .65rem;

                            p {
                                font-size: .825rem;
                            }

                            p:nth-of-type(2) {
                                font-size: .975rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }

                        .single_project_code_anchor {
                            padding: .4rem;

                            i {
                                font-size: .95rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }
                    }
                }
            }
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .7rem;
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 651px) and (min-width: 700px) and (max-width: 1000px) {

    // Projects content
    .projects_container {
        margin: auto 16%;
        margin-bottom: 5%;
        margin-top: 2%;

        .projects_main_title {

            h2 {
                font-size: 2.15rem;
            }
        }

        .projects_content_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.75rem;

            // Single project content
            .single_project_container {
                width: 100%;
                flex: 0 0 45%;

                .single_project_description_container {
                    padding: .5rem 1.1rem;

                    h4 {
                        font-size: .925rem;
                        letter-spacing: .02rem;
                    }

                    &>p {
                        line-height: 1.0275rem;
                        letter-spacing: .015rem;
                        font-size: .75rem;
                    }

                    .single_project_anchors_container {

                        .single_project_website_anchor {
                            padding: .1rem .65rem;

                            p {
                                font-size: .775rem;
                            }

                            p:nth-of-type(2) {
                                font-size: .9rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }

                        .single_project_code_anchor {
                            padding: .4rem;

                            i {
                                font-size: .875rem;
                            }

                            &:hover {
                                background-color: var(--app-primary-color);
                            }
                        }
                    }
                }
            }
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .7rem;
    }
}
