// Media query for unsuitable screens (mobile extremelly small)
@media screen and (max-width: 250px),
screen and (max-height: 250px),
screen and (max-height: 300px) and (max-width: 300px) {

    // App content
    .app_container {
        visibility: hidden;
        overflow: hidden;

        &::before {
            position: fixed;
            visibility: visible;
            background: var(--app-bg-color2);
            color: var(--app-primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            content: "Your screen is too small to display this App :(";
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
        }
    }
}


// Mobile smartphone portrait screens (very small)
@media screen and (min-width: 250px) and (max-width: 350px) and (min-height: 300px) and (max-height: 400px) {

    // App content
    .app_container {
        overflow: hidden;
    }


    //Navbar content
    header {
        //height: 12%;
        height: unset;

        .navbar {
            padding: 1% 6% 1.5% 6%;

            .navbar_title_link {

                .navbar_title_container {

                    .navbar_title_logo_container {
                        height: 1.2rem;
                        width: 1.2rem;
                        border: .7rem solid var(--app-primary-color);
                        padding: .525rem;

                        .navbar_title_logo {
                            padding: 1.05rem;
                            height: 1.1rem;
                            width: 1.1rem;
                            gap: .2rem;

                            i {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }

            .navbar_links_container {
                display: none;
            }

            .navbar_mobile_buttons_container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1.5rem;
                position: relative;
                //margin-right: 0rem;
                width: 35%;

                // Dark mode content
                .dark_mode_button_container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.3rem;
                    height: 1.3rem;
                    padding: .3rem;
                    border-radius: 2rem;

                    i {
                        color: var(--app-intermediate-color);
                        font-size: .925rem;
                    }

                    &:hover {
                        animation: 0.25s buttonJumpandLand;
                        animation-timing-function: ease-in-out;

                        @keyframes buttonJumpandLand {
                            0% {
                                translate: 0% 0%;
                            }

                            50% {
                                translate: 0% -12.5%;
                            }

                            100% {
                                translate: 0% 0%;
                            }
                        }

                        i {
                            animation: 0.2s colorBlink;
                            animation-timing-function: ease;

                            @keyframes colorBlink {
                                0% {
                                    color: var(--app-intermediate-color);
                                }

                                50% {

                                    color: var(--app-primary-color);

                                }

                                100% {
                                    color: var(--app-intermediate-color);
                                }
                            }
                        }
                    }
                }

                .navbar_burger_button_container {
                    color: var(--app-primary-color);
                    border: none;
                    font-size: 1.05rem;
                    background-color: inherit;
                }

                .navbar_burger_menu_container {
                    position: absolute;
                    left: 12%;
                    top: -65%;
                    height : fit-content;
                    width : 110%;
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: .65rem;
                    padding: 1.375rem .5rem .75rem .5rem;
                    transition: all .25s ease;
                    background-color: var(--app-intermediate-color);
                    border-radius: .5rem;
                    z-index: 1;

                    .burger_menu_button_close {
                        padding: .2rem;
                        width: 1.15rem;
                        height: 1.15rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 2.5%;
                        left: 2.5%;

                        i {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: .8rem;
                            color: var(--app-bg-color2-transparent);
                        }
                    }

                    &.burger_menu_closed {
                        left: 123%;
                        top: -65%;
                        opacity: 0;
                        visibility: hidden;
                        background-color: var(--app-intermediate-color);
                    }

                    .navbar_link {
                        text-decoration: none;
                        display: flex;
                        justify-content: flex-start;
                        color: var(--app-primary-color-transparent);
                        padding: .15rem .35rem;
                        font-size: .7rem;
                        font-weight: 700;
                        //width: unset;
                        transition: all .125s ease;
                    }

                    .navbar_link_active {
                        color: var(--app-primary-color);
                        font-size: .8rem;
                        translate: -22.5% 0;
                        font-weight: 900;
                    }
                }
            }
        }
    }


    // Footer container
    .footer_container {
        padding: .125rem .375rem;
        height: min(26px, 4.5%);

        .footer_text {

            p {
                letter-spacing: .025rem;
                word-spacing: .05rem;
                font-size: .52rem;
            }
        }

        .footer_icon_container {
            gap: .7rem;

            a {
                width: .7rem;
                height: .7rem;
                padding: .3rem;

                i {
                    font-size: .65rem;
                }
            }

            a:nth-of-type(1) {
                i {
                    font-size: .575rem;
                }
            }
        }
    }


    // Vertical email button content
    .vertical_email_container {
        bottom: 15%;

        a {
            font-size: .5rem;
            letter-spacing: .06rem;

            &::after {
                bottom: -95%;
            }
        }
    }


    // Vertical icon bar content
    .icon_vertical_bar_container {
        bottom: 15%;
        gap: .65rem;

        a {
            font-size: .7rem;
        }

        &::after {
            bottom: -252.5%;
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .65rem;
    }
}


// Mobile smartphone portrait screens (small)
//@media screen and (min-width: 250px) and (max-width: 300px) and (min-height: 300px) and (max-height: 950px),
//@media screen and (min-width: 250px) and (max-width: 350px) and (min-height: 500px) and (max-height: 1000px)
@media screen and (min-width: 250px) and (max-width: 350px) and (min-height: 400px) {

    // App content
    .app_container {
        overflow: hidden;
    }


    //Navbar content
    header {
        //height: 12%;
        height: unset;

        .navbar {
            padding: 1.5% 7% 1.5% 7%;

            .navbar_title_link {

                .navbar_title_container {

                    .navbar_title_logo_container {
                        height: 1.6rem;
                        width: 1.6rem;
                        border: .7rem solid var(--app-primary-color);
                        padding: .675rem;

                        .navbar_title_logo {
                            padding: 1.175rem;
                            height: 1.25rem;
                            width: 1.25rem;
                            gap: .2rem;

                            i {
                                font-size: 1.05rem;
                            }
                        }
                    }
                }
            }

            .navbar_links_container {
                display: none;
            }

            .navbar_mobile_buttons_container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1.65rem;
                position: relative;
                //margin-right: 0rem;
                width: 35%;

                // Dark mode content
                .dark_mode_button_container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.55rem;
                    height: 1.55rem;
                    padding: .375rem;
                    border-radius: 2rem;

                    i {
                        color: var(--app-intermediate-color);
                        font-size: 1.05rem;
                    }

                    &:hover {
                        animation: 0.25s buttonJumpandLand;
                        animation-timing-function: ease-in-out;

                        @keyframes buttonJumpandLand {
                            0% {
                                translate: 0% 0%;
                            }

                            50% {
                                translate: 0% -12.5%;
                            }

                            100% {
                                translate: 0% 0%;
                            }
                        }

                        i {
                            animation: 0.2s colorBlink;
                            animation-timing-function: ease;

                            @keyframes colorBlink {
                                0% {
                                    color: var(--app-intermediate-color);
                                }

                                50% {

                                    color: var(--app-primary-color);

                                }

                                100% {
                                    color: var(--app-intermediate-color);
                                }
                            }
                        }
                    }
                }

                .navbar_burger_button_container {
                    color: var(--app-primary-color);
                    border: none;
                    font-size: 1.15rem;
                    background-color: inherit;
                }

                .navbar_burger_menu_container {
                    position: absolute;
                    left: 4%;
                    top: -65%;
                    height : fit-content;
                    width : 120%;
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: .65rem;
                    padding: 1.375rem .5rem .75rem .5rem;
                    transition: all .25s ease;
                    background-color: var(--app-intermediate-color);
                    border-radius: .5rem;
                    z-index: 1;

                    .burger_menu_button_close {
                        padding: .2rem;
                        width: 1.25rem;
                        height: 1.25rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 2.5%;
                        left: 2.5%;

                        i {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: .9rem;
                            color: var(--app-bg-color2-transparent);
                        }
                    }

                    &.burger_menu_closed {
                        left: 115%;
                        top: -65%;
                        opacity: 0;
                        visibility: hidden;
                        background-color: var(--app-intermediate-color);
                    }

                    .navbar_link {
                        text-decoration: none;
                        display: flex;
                        justify-content: flex-start;
                        color: var(--app-primary-color-transparent);
                        padding: .15rem .35rem;
                        font-size: .75rem;
                        font-weight: 700;
                        //width: unset;
                        transition: all .125s ease;
                    }

                    .navbar_link_active {
                        color: var(--app-primary-color);
                        font-size: .85rem;
                        translate: -22.5% 0;
                        font-weight: 900;
                    }
                }
            }
        }
    }


    // Footer container
    .footer_container {
        padding: .125rem .5rem;
        height: min(26px, 4.5%);

        .footer_text {

            p {
                letter-spacing: .025rem;
                word-spacing: .05rem;
                font-size: .575rem;
            }
        }

        .footer_icon_container {
            gap: .65rem;

            a {
                width: 1rem;
                height: 1rem;
                padding: .4rem;

                i {
                    font-size: .75rem;
                }
            }

            a:nth-of-type(1) {
                i {
                    font-size: .675rem;
                }
            }
        }
    }


    // Vertical email button content
    .vertical_email_container {
        bottom: 15%;

        a {
            font-size: .635rem;
            letter-spacing: .045rem;
        }
    }


    // Vertical icon bar content
    .icon_vertical_bar_container {
        bottom: 15%;

        a {
            font-size: .8rem;
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .65rem;
    }
}


// Mobile smartphone portrait screens (normal)
// @media screen and (min-width: 250px) and (max-width: 650px) and (min-height: 950px),
// screen and (min-width: 300px) and (max-width: 650px) and (min-height: 500px),
// screen and (min-width: 500px) and (max-width: 550px) and (min-height: 500px) and (max-height: 550px)
@media screen and (min-width: 350px) and (max-width: 500px) and (min-height: 500px) and (max-height: 1000px) {

    // App content
    .app_container {
        overflow: hidden;

       // TODO: remove this
       background-color: rgba(60, 60, 209, 0.455);

       * {
           outline: .01rem red solid;
       }

       outline: .01rem red solid;
    }


    //Navbar content
    header {
        //height: 12%;
        height: unset;

        .navbar {
            padding: 1.5% 7% 1.5% 7%;

            .navbar_title_link {

                .navbar_title_container {

                    .navbar_title_logo_container {
                        height: 1.75rem;
                        width: 1.75rem;
                        border: .7rem solid var(--app-primary-color);
                        padding: .85rem;

                        .navbar_title_logo {
                            padding: 1.35rem;
                            height: 1.45rem;
                            width: 1.45rem;
                            gap: .2rem;

                            i {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .navbar_links_container {
                display: none;
            }

            .navbar_mobile_buttons_container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 2rem;
                position: relative;
                width: 35%;

                // Dark mode content
                .dark_mode_button_container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.675rem;
                    height: 1.675rem;
                    padding: .425rem;
                    border-radius: 2rem;

                    i {
                        color: var(--app-intermediate-color);
                        font-size: 1.15rem;
                    }

                    &:hover {
                        animation: 0.25s buttonJumpandLand;
                        animation-timing-function: ease-in-out;

                        @keyframes buttonJumpandLand {
                            0% {
                                translate: 0% 0%;
                            }

                            50% {
                                translate: 0% -12.5%;
                            }

                            100% {
                                translate: 0% 0%;
                            }
                        }

                        i {
                            animation: 0.2s colorBlink;
                            animation-timing-function: ease;

                            @keyframes colorBlink {
                                0% {
                                    color: var(--app-intermediate-color);
                                }

                                50% {

                                    color: var(--app-primary-color);

                                }

                                100% {
                                    color: var(--app-intermediate-color);
                                }
                            }
                        }
                    }
                }

                .navbar_burger_button_container {
                    color: var(--app-primary-color);
                    border: none;
                    font-size: 1.275rem;
                    background-color: inherit;
                }

                .navbar_burger_menu_container {
                    position: absolute;
                    left: 24%;
                    top: -65%;
                    height : fit-content;
                    width : 100%;
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: .75rem;
                    padding: .75rem;
                    padding-top: 1.5rem;
                    transition: all .25s ease;
                    background-color: var(--app-intermediate-color);
                    border-radius: .5rem;
                    z-index: 1;

                    .burger_menu_button_close {
                        padding: .25rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 3.5%;
                        left: 3.5%;

                        i {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.1rem;
                            color: var(--app-bg-color2-transparent);
                        }
                    }

                    &.burger_menu_closed {
                        left: 115%;
                        top: -65%;
                        opacity: 0;
                        visibility: hidden;
                        background-color: var(--app-intermediate-color);
                    }

                    .navbar_link {
                        text-decoration: none;
                        display: flex;
                        justify-content: flex-start;
                        color: var(--app-primary-color-transparent);
                        padding: .15rem .35rem;
                        font-size: .8rem;
                        font-weight: 700;
                        //width: 62.5%;
                        transition: all .125s ease;
                    }

                    .navbar_link_active {
                        color: var(--app-primary-color);
                        font-size: .9rem;
                        translate: -25% 0;
                        font-weight: 900;
                    }
                }
            }
        }
    }


    // Footer container
    .footer_container {
        padding: .125rem 1.15rem;
        padding-left: 1rem;

        .footer_text {

            p {
                letter-spacing: .025rem;
                word-spacing: .05rem;
                font-size: .655rem;
            }
        }

        .footer_icon_container {
            gap: .75rem;

            a {
                width: 1rem;
                height: 1rem;
                padding: .4rem;

                i {
                    font-size: .8rem;
                }
            }

            a:nth-of-type(1) {
                i {
                    font-size: .715rem;
                }
            }
        }
    }


    // Vertical email button content
    .vertical_email_container {
        bottom: 15%;

        a {
            font-size: .725rem;
            letter-spacing: .075rem;
        }
    }


    // Vertical icon bar content
    .icon_vertical_bar_container {
        bottom: 15%;

        a {
            font-size: .925rem;
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .725rem;
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    //Navbar content
    header {

        .navbar {
            padding: 1rem 1rem 1.5rem 1.25rem;

            .navbar_title_link {

                .navbar_title_container {

                    .navbar_title_logo_container {
                        height: 1.75rem;
                        width: 1.75rem;
                        border: .7rem solid var(--app-primary-color);
                        padding: 1rem;

                        .navbar_title_logo {
                            padding: 1.5rem;
                            height: 1.5rem;
                            width: 1.5rem;

                            i {
                                font-size: 1.35rem;
                            }
                        }
                    }
                }
            }

            .navbar_links_container {
                gap: 1rem;

                .navbar_link {
                    padding: .5rem;
                    font-size: .9rem;

                    &:hover {
                        translate: 0% 0%;
                    }
                }

                .navbar_link_active {
                    font-size: 1.05rem;

                    &:hover {
                        translate: 0% 7.5%;
                    }
                }

                // Dark mode content
                .dark_mode_button_container {
                    width: 1.5rem;
                    height: 1.5rem;
                    padding: .75rem;
                    margin-left: 1.25rem;

                    i {
                        color: var(--app-intermediate-color);
                        font-size: 1.25rem;
                    }

                    &:hover {
                        translate: 0% 0%;
                        animation: 0.25s buttonJumpandLand;
                        animation-timing-function: ease-in-out;

                        @keyframes buttonJumpandLand {
                            0% {
                                translate: 0% 0%;
                            }

                            50% {
                                translate: 0% -12.5%;
                            }

                            100% {
                                translate: 0% 0%;
                            }
                        }

                        i {
                            color: var(--app-intermediate-color);
                            animation: 0.2s colorBlink;
                            animation-timing-function: ease;

                            @keyframes colorBlink {
                                0% {
                                    color: var(--app-intermediate-color);
                                }

                                50% {

                                    color: var(--app-primary-color);

                                }

                                100% {
                                    color: var(--app-intermediate-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // Footer container
    .footer_container {
        padding: .125rem 1.15rem;

        .footer_text {

            p {
                letter-spacing: .025rem;
                word-spacing: .05rem;
                font-size: .7rem;
            }
        }

        .footer_icon_container {
            gap: 1rem;

            a {
                width: 1.5rem;
                height: 1.5rem;
                padding: .75rem;

                i {
                    font-size: .95rem;
                }
            }

            a:nth-of-type(1) {
                i {
                    font-size: .875rem;
                }
            }
        }
    }


    // Vertical email button content
    .vertical_email_container {
        bottom: 18%;

        a {
            font-size: .675rem;
            letter-spacing: .035rem;
        }
    }


    // Vertical icon bar content
    .icon_vertical_bar_container {
        bottom: 18%;

        a {
            font-size: .885rem;
            letter-spacing: .115rem;
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .7rem;
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 651px) and (min-width: 700px) and (max-width: 1000px) {

    //Navbar content
    header {

        .navbar {
            padding: 1rem 1.5rem 1.5rem 1.5rem;

            .navbar_title_link {

                .navbar_title_container {

                    .navbar_title_logo_container {
                        height: 1.75rem;
                        width: 1.75rem;
                        border: .725rem solid var(--app-primary-color);
                        padding: 1.35rem;

                        .navbar_title_logo {
                            padding: 1.85rem;
                            height: 1.5rem;
                            width: 1.5rem;

                            i {
                                font-size: 1.65rem;
                            }
                        }
                    }
                }
            }

            .navbar_links_container {
                gap: 1.3rem;

                .navbar_link {
                    padding: .5rem;
                    font-size: .9rem;

                    &:hover {
                        translate: 0% 0%;
                    }
                }

                .navbar_link_active {
                    font-size: 1.05rem;

                    &:hover {
                        translate: 0% 7.5%;
                    }
                }

                // Dark mode content
                .dark_mode_button_container {
                    width: 1.5rem;
                    height: 1.5rem;
                    padding: .75rem;
                    margin-left: 1.25rem;

                    i {
                        color: var(--app-intermediate-color);
                        font-size: 1.25rem;
                    }

                    &:hover {
                        translate: 0% 0%;
                        animation: 0.25s buttonJumpandLand;
                        animation-timing-function: ease-in-out;

                        @keyframes buttonJumpandLand {
                            0% {
                                translate: 0% 0%;
                            }

                            50% {
                                translate: 0% -12.5%;
                            }

                            100% {
                                translate: 0% 0%;
                            }
                        }

                        i {
                            color: var(--app-intermediate-color);
                            animation: 0.2s colorBlink;
                            animation-timing-function: ease;

                            @keyframes colorBlink {
                                0% {
                                    color: var(--app-intermediate-color);
                                }

                                50% {

                                    color: var(--app-primary-color);

                                }

                                100% {
                                    color: var(--app-intermediate-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // Footer container
    .footer_container {
        padding: .275rem 1.15rem;

        .footer_text {

            p {
                letter-spacing: .05rem;
                word-spacing: .065rem;
                font-size: .725rem;
            }
        }

        .footer_icon_container {
            gap: 1.25rem;

            a {
                width: 1.65rem;
                height: 1.65rem;
                padding: .75rem;

                i {
                    font-size: 1rem;
                }
            }

            a:nth-of-type(1) {
                i {
                    font-size: .925rem;
                }
            }
        }
    }


    // Vertical email button content
    .vertical_email_container {
        bottom: 11%;

        a {
            font-size: .75rem;
            letter-spacing: .04rem;
        }
    }


    // Vertical icon bar content
    .icon_vertical_bar_container {
        bottom: 11%;

        a {
            font-size: .925rem;
            letter-spacing: .115rem;
        }
    }


    // Tooltip content
    .tooltip_container {
        font-size: .7rem;
    }
}